<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <form>
    <div class='box'>
      <div class=''>
        <input id="text-box" class="simplebox" type="text" placeholder="Input text here.">
      </div>
      <a id="submit-button"><i class="search-icon glyphicon glyphicon-search" ></i></a>
      <a><i class="random-icon glyphicon glyphicon-asterisk" ></i></a>
    </div>
    <div class='box2'>
      <div class=''>
        <input id="lang-box" class="simplebox" type="text" placeholder="Input language here.">
      </div>
    </div>
  </form>
  <div id="map"></div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/key.js"></script>
  <script src="/js/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASSzBIMIEK9ZYgrQE8vfWq_QV02w13lFQ&callback=initMap"
  async defer></script>
</body>
</html>
