body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.box {
  z-index: 2;
  background-color:white;
  box-sizing: border-box;
  position : fixed;
  top : 40px;
  left : 35px;
  width : 730px;
  height : 50px;
  box-shadow: 5px 2px 2px grey;
}

#text-box {
  z-index: 3;
  position: fixed;
  top: 50px;
  left: 50px;
  width : 320px;
  height: 30px;
}

#lang-box {
  z-index: 3;
  position: fixed;
  top: 50px;
  left: 380px;
  width : 320px;
  height: 30px;
}
#search-icon {
  top: 50px;
  left: 710px;
}



/* Map Style */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.gm-style-iw + div {display: none;}
.gm-style-iw {text-align:center;}
