/* HTML Modifier */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF;
}

/* Boxes */

.mainBox {
  background-color:white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-sizing: border-box;
  height : 50px;
  left : 35px;
  position : fixed;
  top : 40px;
  width : 500px;
  z-index: 2;
}

.langBox {
  background-color: #ddd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-sizing: border-box;
  display: none;
  height : 50px;
  left : 40px;
  padding: 17px 10px 10px 15px;
  position : fixed;
  top : 90px;
  width : 375px;
  z-index: 1;
}

#textBox {
  height: 30px;
  left: 50px;
  padding-left: 5px;
  position: fixed;
  top: 50px;
  width : 375px;
  z-index: 3;
}

/* Icons */

.search-icon {
  font-size: 20px;
  left: 410px;
  top: 15px;
}

.loading-icon {
  font-size: 20px;
  left: 410px;
  top: 15px;
}

.random-icon {
  font-size: 20px;
  left: 435px;
  top: 15px;
}

/* Bootstrap Modifier */

input {
  background-color: transparent;
  border: 0px solid rgba(0,0,0,0.12);
  border-bottom-width: 2px;
}

.simplebox {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* Color */

.light {
  color: #777;
}

.dark {
  color: #212121;
}

/* Spinning Animation */

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

/* Map Style */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.gm-style-iw + div {display: none;}
.gm-style-iw {text-align:center;}
