body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.box {
  z-index: 2;
  background-color:white;
  box-sizing: border-box;
  position : fixed;
  top : 40px;
  left : 35px;
  width : 500px;
  height : 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.box2 {
  z-index: 1;
  background-color: #ddd;
  box-sizing: border-box;
  position : fixed;
  top : 90px;
  left : 40px;
  width : 375px;
  height : 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 17px 10px 10px 15px;
  display: none;
}

.light {
  color: #777;
}

.dark {
  color: #212121;
}

#text-box {
  z-index: 3;
  position: fixed;
  top: 50px;
  left: 50px;
  width : 375px;
  height: 30px;
  padding-left: 5px;
}

.search-icon {
  font-size: 20px;
  top: 15px;
  left: 410px;
}

.loading-icon {
  font-size: 20px;
  top: 15px;
  left: 410px;
  display: none;
}

.random-icon {
  font-size: 20px;
  top: 15px;
  left: 435px;
}

input {
  border: 0px solid rgba(0,0,0,0.12);
  border-bottom-width: 2px;
  background-color: transparent;
}

.simplebox {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* Map Style */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.gm-style-iw + div {display: none;}
.gm-style-iw {text-align:center;}
